/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #222222;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #222222;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px none #ffffff;
  }
body{
  width: 100%;
  height: 500vh;
  background-color: #222222;
  margin: 0px;
}
.top{

  border: 0px;
  margin: 0px;
  padding: 0px;

}

.txtt{

  font-family: 'Roboto Slab', serif;
  position: absolute;
  width: 683.67px;
  height: 88.03px;
  left: 154px;
  top: 204.11px;
  font-style: normal;
  font-weight: normal;
  font-size: 30.8425px;
  line-height: 41px;
  letter-spacing: 0.275em;

  color: #FFFFFF;
}
.hi{
font-family: 'Comforter Brush', cursive;
position: absolute;
width: 84.17px;
height: 84.17px;
left: 454.07px;
top: 127px;

font-style: normal;
font-weight: normal;
font-size: 59.4171px;
line-height: 84px;
letter-spacing: 0.275em;

color: #FFFFFF;
color: #FFFFFF;
}

.image1{
  position: absolute;
  width: 326.29px;
  height: 305px;
  left: 981px;
  top: 140px;

}
.image2{

  height: 341.2217712402344px;
  width: 396.4110107421875px;
  left: 971px;
  top: 167.1729736328125px;

  position: absolute;


}
.shdw{
  position: absolute;
width: 282.08px;
height: 23.13px;
left: 65.61%;
bottom: 26%;

}
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  font-family: 'Roboto Slab', serif;
  position: absolute;
  width: 203.05px;
  height: 129.15px;
  left: 171.35px;
  top: 261.94px;
  font-style: normal;
  font-weight: normal;
  font-size: 46.2637px;
  line-height: 61px;
  letter-spacing: 0.14em;

  color: #FFFFFF;
}
.wrapper .dynamic-txts{
  margin-left: 230.1px;
  margin-top: 320.12px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  font-family: 'Roboto Slab', serif;
  list-style: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 30.8425px;
  line-height: 41px;
  letter-spacing: 0.275em;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  background: #222222;
  border-left: 2px solid #FFFFFF;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

.design{

  position: absolute;
  width: 115px;
  height: 127.6px;
  left: -30px;
  top: -13px;


  transform: rotate(-10.59deg);

}
.image3{
  position: absolute;
  width:293px;
  height:435px;
left: 241px;
right: 988px;
top: 806px;

}
.text2{
  position: absolute;
  width:249.28px;
  height: 281px;
left: 976px;
right: 203.22px;
top: 900px;
}
.cdsy{
  position: absolute;
width: 176.75px;
height: 101px;
left: 1303px;
top: 670px;

}
.cir{
  position: absolute;
right: 1372.5px;
top: 563px;
left: 0px;
opacity: 0.8;
}
.arrow{
  position:relative;

  top: 1349px;
  left: 1472px;
}
.t3{
  position: absolute;
width: 433.89px;
height: 280px;
left: 241px;
top: 1554px;
}
.i3{
  position: absolute;
  top: 1471px;
  left:1060px;
}
.p2{
position: absolute;
left:162px;
top:865px;
}

.p3{
  position: absolute;
  left:977px;
  top:1511px;
}
