
body{
  background-color: #222222;
  margin: 0px;
}
.top{
  width: 100vw;
  height: 100vh;
  border: 0px;
  margin: 0px;
  padding: 0px;

}
.mid{
    width: 1519px;
    height: 705px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.txtt{

  font-family: 'Roboto Slab', serif;
  position: absolute;
  width: 683.67px;
  height: 88.03px;
  left: 154px;
  top: 204.11px;
  font-style: normal;
  font-weight: normal;
  font-size: 30.8425px;
  line-height: 41px;
  letter-spacing: 0.275em;

  color: #FFFFFF;
}
.hi{
font-family: 'Comforter Brush', cursive;
position: absolute;
width: 84.17px;
height: 84.17px;
left: 454.07px;
top: 127px;

font-style: normal;
font-weight: normal;
font-size: 59.4171px;
line-height: 84px;
letter-spacing: 0.275em;

color: #FFFFFF;
color: #FFFFFF;
}
.ima{
  font-family: 'Roboto Slab', serif;
  position: absolute;
  width: 203.05px;
  height: 129.15px;
  left: 171.35px;
  top: 261.94px;
  font-style: normal;
  font-weight: normal;
  font-size: 46.2637px;
  line-height: 61px;
  letter-spacing: 0.14em;

  color: #FFFFFF;
}
.image1{
  position: absolute;
  width: 326.29px;
  height: 305px;
  left: 985px;
  top: 160px;

}
.image2{

  height: 341.2217712402344px;
  width: 396.4110107421875px;
  left: 971px;
  top: 167.1729736328125px;

  position: absolute;


}
.shdw{
  position: absolute;
width: 282.08px;
height: 23.13px;
left: 65.61%;
bottom: 26%;

}
.dtl{
  font-family: 'Roboto Slab', serif;
  position: absolute;
  width: 530.1px;
  height: 183.13px;
  left: 240.1px;
  top: 328.12px;
  font-style: normal;
  font-weight: normal;
  font-size: 30.8425px;
  line-height: 41px;
  letter-spacing: 0.275em;

  color: #FFFFFF;
}
.design{

  position: absolute;
  width: 115px;
  height: 127.6px;
  left: -30px;
  top: -13px;


  transform: rotate(-10.59deg);

}
